<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %} - Index and Search</title>
        {% block head %}{% endblock %}
</head>
<body>

<div class="container">
    <div id="page">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary py-1">
                  <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
                        <span class="navbar-toggler-icon"></span>
                  </button>
        </nav>
        {% for message in get_flashed_messages() %}
            <div class="message">
                    {{ message }}
            </div>
        {% endfor %}
        <div id="body" style="padding-bottom: 10em;">
            {% block body %}{% endblock %}
        </div>
        <nav class="navbar fixed-bottom navbar-fixed-width navbar-dark bg-primary py-1">
         <div class="container">
           <div>
               <a class="btn btn-primary" href="mailto:salehi@udel.edu?subject=LLIF's Index/Search project">Questions/Comments?</a>
           </div>
         </div>
        </nav>
    </div>
</div>

</body>
</html>
